useDynLib(SuSiEUTL, .registration = TRUE)
export(utl_theta_prior)
export(utl_theta_trait_fixed_prior)
export(utl_theta_pattern_prior)
export(utl_susie_ma_ss)
export(utl_susie_ma_rss)
export(utl_theta_pip)
export(utl_theta_pattern_posterior)
export(utl_theta_effects)
export(utl_theta_status)
export(utl_lfsr)
export(utl_ancestry_lbf)
importFrom(mixsqp,mixsqp)
importFrom(stats,setNames)
importFrom(Rcpp,evalCpp)
S3method(print,utl_theta_ma_ss_fit)
